<footer class="footer">
  <small>
    <a href="http://truthflux.blogspot.com/">by Truthflux</a>
    <br><%= link_to image_tag("funtimii/Funtimii tiling.bmp", alt: "Truthflux", size:"64x64"), 'http://truthflux.blogspot.com/' %>

  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>